[Unit]
Description=Initialize GamingCape
Type=idle

[Service]
Type=oneshot
ExecStart=/usr/share/gamingcape/init_gamingcape.sh

[Install]
WantedBy=multi-user.target 
